<!DOCTYPE html>
<html>

<head>
    <title>Halaman Bantuan</title>
    <link rel="icon" href="/img/logo.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div class="faq">
            <h2>Frequently Asked Questions (FAQ)</h2>

            <h3>a. Halaman ini digunakan untuk apa?</h3>
            <p><strong>Jawaban:</strong> Halaman ini digunakan untuk memberikan informasi dan panduan kepada pengguna
                tentang penggunaan aplikasi saya. Ini digunakan untuk menjawab soal soal uts yang diberikan.</p>

            <h3>b. Apa itu API?</h3>
            <p><strong>Jawaban:</strong> API (Application Programming Interface) adalah set aturan dan protokol yang
                memungkinkan perangkat lunak berkomunikasi satu sama lain. Dalam konteks aplikasi saya, API digunakan
                untuk mengambil data dari sumber eksternal dan menampilkannya kepada pengguna.</p>

            <h3>c. API apa yang digunakan dalam aplikasi ini?</h3>
            <p><strong>Jawaban:</strong> Aplikasi saya menggunakan beberapa API, termasuk MapBox API, Weatherstack API,
                Mediastack API, dan Restcountries API. MapBox API digunakan untuk layanan peta, Weatherstack API
                digunakan untuk informasi cuaca, Mediastack API digunakan untuk mendapatkan berita terkini, dan
                Restcountries API digunakan untuk mengambil informasi negara.</p>

            <h3>d. Salah satu pola arsitektur API adalah (pilih salah satu SOA, RESTful, GraphQL, dan gRPC)</h3>
            <p><strong>Jawaban:</strong> Dalam aplikasi saya, digunakan pola arsitektur RESTful. Ini adalah cara
                berkomunikasi antara aplikasi dan server yang sangat sederhana. Saya mengirimkan permintaan ke server
                melalui internet, dan server mengirimkan kembali data yang dibutuhkan. Ini adalah cara yang umum
                digunakan dalam pengembangan aplikasi web.</p>

            <h3>e. Gambar Pendukung</h3>
            <img src="/img/API.png" alt="Gambar Pendukung">
        </div>
    </div>
    {{>footer}}
</body>

</html>