<header>
    <h1>{{judul}}</h1>

    <a href="/" id="menu-home">Home</a>
    <a href="/tentang" id="menu-tentang">Tentang Saya</a>
    <a href="/bantuan" id="menu-bantuan">Bantuan</a>
    <a href="/berita" id="menu-berita">Berita</a>
    <a href="/negara" id="menu-negara">Negara</a>
    <script src="/js/nav.js"></script>
</header>